<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qqcn.data.mapper.DataMapper">

    <resultMap id="dataMap" type="data">
        <id column="num" property="num" />
        <result column="time" property="time"/>
        <result column="speed" property="speed"/>
        <result column="tem" property="tem"/>
        <result column="yingli" property="yingli"/>
        <result column="dir_x" property="dir_x"/>
        <result column="dir_y" property="dir_y"/>
    </resultMap>

    <select id="findSpeed" parameterType="speed" resultType="speed">
        select time,speed from data
        order by time
        desc
        limit 5
    </select>

    <select id="findTem" parameterType="tem" resultType="tem">
        select time,tem from data
        order by time
                desc
            limit 5
    </select>

    <select id="findYingli" parameterType="yingli" resultType="yingli">
        select time,yingli from data
        order by time
                desc
            limit 5
    </select>

    <select id="findDir_x" parameterType="dirx" resultType="dirx">
        select time,dir_x from data
        order by time
                desc
            limit 5
    </select>

    <select id="findDir_y" parameterType="diry" resultType="diry">
        select time,dir_y from data
        order by time
                desc
            limit 5
    </select>
    <!-- 查询数据列表 -->
    <select id="getDataList" parameterType="cn.qqcn.data.vo.DataQuery" resultMap="dataMap">
        select * from data
        limit #{start},#{limit}
    </select>
    <select id="countDataList" parameterType="cn.qqcn.data.vo.DataQuery" resultType="Long">
        select count(1) from data
    </select>

    <select id="byTime">
        select *
        from data
        where time between #{start} and #{end}
    </select>

    <select id="errorselect" parameterType="cn.qqcn.data.vo.DataQuery" resultMap="dataMap">
        SELECT * FROM `data`
        where
        speed>200
        OR
        -200>speed
        OR
        tem>200
        OR
        -200>tem
        OR
        yingli > 200
        OR
        -200>yingli
        OR
        dir_x>200
        OR
        -200>dir_x
        OR
        dir_y>200
        OR
        -200>dir_y
    </select>

    <select id="counterrorList" parameterType="cn.qqcn.data.vo.DataQuery" resultType="Long">
        select count(1) from data
        where
            speed>200
           OR
            -200>speed
           OR
            tem>200
           OR
            -200>tem
           OR
            yingli > 200
           OR
            -200>yingli
           OR
            dir_x>200
           OR
            -200>dir_x
           OR
            dir_y>200
           OR
            -200>dir_y

    </select>
</mapper>