<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qqcn.mapper.EmpMapper">
    
    <resultMap id="empMap" type="Emp">
        <id column="sno" property="sno" />
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="birth" property="birth"/>
        <result column="phone" property="phone"/>
<!--        <id column="emp_id" property="empId" />-->
<!--        <result column="name" property="name"/>-->
<!--        <result column="sex" property="sex"/>-->
<!--        <result column="sal" property="sal"/>-->
<!--        <result column="age" property="age"/>-->
<!--        <result column="birthday" property="birthday"/>-->
<!--        <result column="address" property="address"/>-->
<!--        <result column="dept_id" property="deptId"/>-->
<!--        <association property="dept" column="dept_id" javaType="Dept">-->
<!--            <id column="dept_id" property="deptName"/>-->
<!--            <result column="dept_name" property="deptName"/>-->
<!--        </association>-->
    </resultMap>
    
    <!-- 查询用户列表数据 -->
    <select id="getEmpList" parameterType="cn.qqcn.entity.vo.EmpQuery" resultMap="empMap">
        select * from information a
        <include refid="getEmpListWhere"></include>
        limit #{start},#{limit}
    </select>
    <!-- 统计用户数据量 -->
    <select id="countEmpList" parameterType="cn.qqcn.entity.vo.EmpQuery" resultType="Long">
        select count(1) from information a
        <include refid="getEmpListWhere"></include>
    </select>

    <sql id="getEmpListWhere">
        <where>
            <if test="name != null">
                a.name like '%' #{name} '%'
            </if>
        </where>
    </sql>

    <insert id="addEmp" parameterType="Emp">
        insert into information
        (name,sex,birth,phone)
        values
        (#{name},#{sex},#{birth},#{phone})
    </insert>

    <delete id="deleteEmpByIds" parameterType="String">
        delete from information where sno in (${ids})
    </delete>

    <select id="getEmpById" parameterType="Integer" resultType="Emp">
        select * from information where sno = #{sno}
    </select>

    <update id="updateEmp" parameterType="Emp">
        update information
        set name = #{name},
            sex = #{sex},
            birth = #{birth},
            phone = #{phone}
        where sno = #{sno}
    </update>
</mapper>