<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qqcn.mapper.SensorDataMapper">
    <resultMap id="dataMap" type="SensorData">
        <id column="plc_id" property="plcId" />
        <result column="time" property="time"/>
        <result column="speed" property="speed"/>
        <result column="temperature" property="temperature"/>
        <result column="light" property="light"/>
        <result column="angle" property="angle"/>
    </resultMap>

    <select id="list" resultType="cn.qqcn.entity.SensorData" resultMap="dataMap">
        select * from sensor_data
        limit #{start},#{limit}
    </select>
    <select id="countDataList" resultType="java.lang.Long">
        select count(1) from sensor_data
    </select>
    <select id="getSpeed" resultType="cn.qqcn.entity.SensorData">
        select time,speed from sensor_data
        where plc_id = #{plcid}
        order by time
    </select>
    <select id="getTemperature" resultType="cn.qqcn.entity.SensorData">
        select time,temperature from sensor_data
        where plc_id = #{plcid}
        order by time
    </select>
    <select id="getLight" resultType="cn.qqcn.entity.SensorData">
        select time, light from sensor_data
        where plc_id = #{plcid}
        order by time
    </select>
    <select id="getAngle" resultType="cn.qqcn.entity.SensorData">
        select time, angle from sensor_data
        where plc_id = #{plcid}
        order by time
    </select>
    <select id="getDataByIdAndTime" resultType="cn.qqcn.entity.SensorData">
        select * from sensor_data
        where plc_id = #{plcid}
        and time = #{date}
    </select>
    <select id="listById" resultType="cn.qqcn.entity.SensorData">
        select * from sensor_data
        where plc_id = #{id}
        order by time
        limit #{page.start},#{page.limit}

    </select>
    <select id="countDataListById" resultType="java.lang.Long">
        select count(1) from sensor_data
        where plc_id = #{id}
    </select>
    <select id="listerror" resultType="cn.qqcn.entity.SensorData">
        SELECT * FROM sensor_data
         <where>
             <if test="params['plcId'] != null">
                 plc_id = #{params.plcId}
             </if>
            <if test="params['speedMax'] != null or params['speedMin'] != null or params['tempMax'] != null or params['tempMin'] != null or params['lightMax'] != null or params['lightMin'] != null or params['angleMax'] != null or params['angleMin'] != null">
                AND (
                <if test="params['speedMax'] != null">speed &gt; #{params.speedMax}</if>
                <if test="params['speedMin'] != null"><if test="params['speedMax'] != null"> OR </if>speed &lt; #{params.speedMin}</if>
                <if test="params['tempMax'] != null"><if test="params['speedMax'] != null or params['speedMin'] != null"> OR </if>temperature &gt; #{params.tempMax}</if>
                <if test="params['tempMin'] != null"><if test="params['speedMax'] != null or params['speedMin'] != null or params['tempMax'] != null"> OR </if>temperature &lt; #{params.tempMin}</if>
                <if test="params['lightMax'] != null"><if test="params['speedMax'] != null or params['speedMin'] != null or params['tempMax'] != null or params['tempMin'] != null"> OR </if>light &gt; #{params.lightMax}</if>
                <if test="params['lightMin'] != null"><if test="params['speedMax'] != null or params['speedMin'] != null or params['tempMax'] != null or params['tempMin'] != null or params['lightMax'] != null"> OR </if>light &lt; #{params.lightMin}</if>
                <if test="params['angleMax'] != null"><if test="params['speedMax'] != null or params['speedMin'] != null or params['tempMax'] != null or params['tempMin'] != null or params['lightMax'] != null or params['lightMin'] != null"> OR </if>angle &gt; #{params.angleMax}</if>
                <if test="params['angleMin'] != null"><if test="params['speedMax'] != null or params['speedMin'] != null or params['tempMax'] != null or params['tempMin'] != null or params['lightMax'] != null or params['lightMin'] != null or params['angleMax'] != null"> OR </if>angle &lt; #{params.angleMin}</if>
                )
            </if>
         </where>
        limit #{page.start},#{page.limit}

    </select>
    <select id="countErrorDataList" resultType="java.lang.Long">
        SELECT count(1) FROM sensor_data
        <where>
            <if test="params['plcId'] != null">
                plc_id = #{params.plcId}
            </if>
            <if test="params['speedMax'] != null or params['speedMin'] != null or params['tempMax'] != null or params['tempMin'] != null or params['lightMax'] != null or params['lightMin'] != null or params['angleMax'] != null or params['angleMin'] != null">
                AND (
                <if test="params['speedMax'] != null">speed &gt; #{params.speedMax}</if>
                <if test="params['speedMin'] != null"><if test="params['speedMax'] != null"> OR </if>speed &lt; #{params.speedMin}</if>
                <if test="params['tempMax'] != null"><if test="params['speedMax'] != null or params['speedMin'] != null"> OR </if>temperature &gt; #{params.tempMax}</if>
                <if test="params['tempMin'] != null"><if test="params['speedMax'] != null or params['speedMin'] != null or params['tempMax'] != null"> OR </if>temperature &lt; #{params.tempMin}</if>
                <if test="params['lightMax'] != null"><if test="params['speedMax'] != null or params['speedMin'] != null or params['tempMax'] != null or params['tempMin'] != null"> OR </if>light &gt; #{params.lightMax}</if>
                <if test="params['lightMin'] != null"><if test="params['speedMax'] != null or params['speedMin'] != null or params['tempMax'] != null or params['tempMin'] != null or params['lightMax'] != null"> OR </if>light &lt; #{params.lightMin}</if>
                <if test="params['angleMax'] != null"><if test="params['speedMax'] != null or params['speedMin'] != null or params['tempMax'] != null or params['tempMin'] != null or params['lightMax'] != null or params['lightMin'] != null"> OR </if>angle &gt; #{params.angleMax}</if>
                <if test="params['angleMin'] != null"><if test="params['speedMax'] != null or params['speedMin'] != null or params['tempMax'] != null or params['tempMin'] != null or params['lightMax'] != null or params['lightMin'] != null or params['angleMax'] != null"> OR </if>angle &lt; #{params.angleMin}</if>
                )
            </if>
        </where>
    </select>
</mapper>