<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qqcn.mapper.UserMapper">
    <resultMap id="applyMap" type="cn.qqcn.entity.apply">
        <id column="sno" property="sno" />
        <result column="name" property="name"/>
    </resultMap>
    <select id="getUser" parameterType="cn.qqcn.entity.User" resultType="cn.qqcn.entity.User">
        select * from user where sno=#{sno} and pwd=#{pwd}
    </select>
    <update id="updatePwdById" parameterType="pwd">
        update user
        set pwd=#{pwd}
        where sno=#{sno}
    </update>

    <update id="applymanage" parameterType="Kind">
        update user
        set kind=#{kind}
        where sno=#{sno}
    </update>
    <select id="getapplyList" parameterType="cn.qqcn.entity.vo.ApplyVO" resultMap="applyMap">
        select sno,sname from user
    </select>

    <select id="countapplyList" parameterType="cn.qqcn.entity.vo.ApplyVO" resultType="Long">
        select count(1) from user
    </select>


</mapper>