<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/layuimini.css?v=2.0.4.2}" media="all">
    <link rel="stylesheet" th:href="@{/css/themes/default.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <style>
        .div-content{
            background-color: white;
            border-radius: 5px;
            padding: 15px;
        }
        .table-search-fieldset {
            margin: 0;
            border: 1px solid #e6e6e6;
            padding: 10px 20px 5px 20px;
            color: #6b6b6b;
        }
    </style>
</head>
<body>

<div class="div-content">
    <form class="layui-form layui-form-pane" id="form-search">
        <fieldset class="table-search-fieldset">
        </fieldset>
    </form>

    <table id="datalist" ></table>
</div>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" charset="utf-8"></script>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:inline="javascript">

    function refreshTable(){
        // $("#btn-reset").click();
        // $("#btn-search").click();
    }

    var ctxPath = [[@{/}]];
        layui.use(['laydate','table','form'], function(){
            var laydate = layui.laydate;
            var table = layui.table;
            var form = layui.form;
            table.render({
                elem: '#datalist'
                ,url:  ctxPath + 'sensordata/list' //数据接口
                ,toolbar: "#table-data-toolbar"
                ,page: true //开启分页
                ,limits: [5,10,30,50,100]
                ,cols: [
                    [
                    {type: "checkbox",width:60},
                    {field: 'plcId', title: '编号', width:120, sort: true,align: 'center'}
                    ,{field: 'time', title: '产生时间', width:200, sort: true,align: 'center'}
                    ,{field: 'temperature', title: '参数1', width:120, sort: true ,align: 'center'}
                    ,{field: 'speed', title: '参数2', width:120 , sort: true,align: 'center'}
                    ,{field: 'light', title: '参数3', width: 120 , sort: true,align: 'center'}
                    ,{field: 'angle', title: '参数4', width: 120 , sort: true,align: 'center'}
                ]
                ]
            });
        });
</script>
</body>
</html>

