<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/layuimini.css?v=2.0.4.2}" media="all">
    <link rel="stylesheet" th:href="@{/css/themes/default.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <style>
        .div-content{
            background-color: white;
            border-radius: 5px;
            padding: 15px;
        }
        .table-search-fieldset {
            margin: 0;
            border: 1px solid #e6e6e6;
            padding: 10px 20px 5px 20px;
            color: #6b6b6b;
        }
    </style>
</head>
<body>

<div class="div-content">
    <form class="layui-form layui-form-pane" id="form-search">
        <fieldset class="table-search-fieldset">
            <legend>筛选条件</legend>
            <!-- PLC ID -->
            <div class="layui-form-item">
                <label class="layui-form-label">PLC ID</label>
                <div class="layui-input-block">
                    <input type="text" name="plcId" placeholder="请输入PLC ID" autocomplete="off" class="layui-input">
                </div>
            </div>

            <!-- 温度和速度范围在同一行 -->
            <div class="layui-form-item layui-inline">
                <div class="layui-inline">
                    <label class="layui-form-label">温度范围</label>
                    <div class="layui-input-inline">
                        <input type="number" name="tempMin" placeholder="最小值" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <input type="number" name="tempMax" placeholder="最大值" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">速度范围</label>
                    <div class="layui-input-inline">
                        <input type="number" name="speedMin" placeholder="最小值" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <input type="number" name="speedMax" placeholder="最大值" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>

            <!-- 亮度和角度范围在同一行 -->
            <div class="layui-form-item layui-inline">
                <div class="layui-inline">
                    <label class="layui-form-label">亮度范围</label>
                    <div class="layui-input-inline">
                        <input type="number" name="lightMin" placeholder="最小值" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <input type="number" name="lightMax" placeholder="最大值" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">角度范围</label>
                    <div class="layui-input-inline">
                        <input type="number" name="angleMin" placeholder="最小值" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <input type="number" name="angleMax" placeholder="最大值" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>

            <!-- 按钮组 -->
            <div class="layui-form-item">
                <button class="layui-btn" lay-submit lay-filter="search">搜索</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </fieldset>
    </form>

    <table id="datalist" lay-filter="datalist"></table>

</div>
<!-- 定义操作列模板 -->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" lay-filter="del">删除</a>
</script>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" charset="utf-8"></script>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:inline="javascript">

    function refreshTable(){
        // $("#btn-reset").click();
        // $("#btn-search").click();
    }

    var ctxPath = [[@{/}]];
        layui.use(['laydate','table','form'], function(){
            var laydate = layui.laydate;
            var table = layui.table;
            var form = layui.form;
            table.render({
                elem: '#datalist'
                ,url:  ctxPath + 'sensordata/list/error' //数据接口
                ,method: "post"
                ,toolbar: "#table-data-toolbar"
                ,page: true //开启分页
                ,limits: [5,10,30,50,100]
                ,cols: [
                    [
                        {type: "checkbox",width:60},
                        {field: 'plcId', title: '编号', width:120, sort: true,align: 'center'}
                        ,{field: 'time', title: '产生时间', width:200, sort: true,align: 'center',
                        templet: function(d){
                            var date = new Date(d.time);
                            var y = date.getFullYear();
                            var m = date.getMonth() + 1;
                            var d = date.getDate();
                            var h = date.getHours();
                            var min = date.getMinutes();
                            var sec = date.getSeconds();
                            return y + "-" + (m < 10 ? ('0' + m) : m) + "-" + (d < 10 ? ('0' + d) : d) + " " + (h < 10 ? ('0' + h) : h) + ":" + (min < 10 ? ('0' + min) : min) + ":" + (sec < 10 ? ('0' + sec) : sec);
                        }}
                        ,{field: 'temperature', title: '温度', width:120, sort: true ,align: 'center'}
                        ,{field: 'speed', title: '速度', width:120 , sort: true,align: 'center'}
                        ,{field: 'light', title: '亮度', width: 120 , sort: true,align: 'center'}
                        ,{field: 'angle', title: '角度', width: 120 , sort: true,align: 'center'}
                        ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:100, align:'center'} // 使用模板定义的操作列
                    ]
                ]
                ,done: function(res, curr, count){
                    console.log("表格渲染完成");
                }
            });
            // 监听工具条
            table.on('tool(datalist)', function(obj){
                var data = obj.data; // 获得当前行数据
                var layEvent = obj.event; // 获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                console.log(data)
                if(layEvent === 'del'){ // 删除操作
                    console.log("Delete button clicked for ID: " + data.plcId); // 调试信息
                    layer.confirm('真的删除此行数据吗？', function(index){
                        // 发送请求到服务器端删除数据
                        $.ajax({
                            url: 'http://localhost:9981/sensordata/deletebytime/' + data.plcId, // 假设这是您的删除接口
                            type: 'POST',
                            contentType: "application/json",
                            data: JSON.stringify({dateTime: data.time}), // 假设 plcId 是主键
                            success: function(result){

                                console.log(result);
                                if(result.code == 0){ // 假设返回的成功码是200
                                    obj.del(); // 删除对应行（tr）的DOM结构
                                    layer.close(index);
                                    layer.msg("删除成功");
                                }else{
                                    layer.msg("删除失败");
                                }
                            },
                            error: function(e){
                                console.log(e.status);
                                console.log(e.responseText);
                                layer.msg("网络错误");
                            }
                        });
                    });
                }
            });

            form.on('submit(search)', function(data){
                console.log(data)
                table.reload('datalist', {
                    where: data.field //向服务器发送的请求参数
                });
                return false; //阻止表单跳转。如果需要跳转，则去掉这行。
            });
        })
</script>
</body>
</html>

