<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/layuimini.css?v=2.0.4.2}" media="all">
    <link rel="stylesheet" th:href="@{/css/themes/default.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <style>
        .div-content{
            background-color: white;
            border-radius: 5px;
            padding: 15px;
        }
        .table-search-fieldset {
            margin: 0;
            border: 1px solid #e6e6e6;
            padding: 10px 20px 5px 20px;
            color: #6b6b6b;
        }
    </style>
</head>
<body>
<div class="div-content">

    <table id="datalist" lay-filter="table-data-filter"></table>
    <script type="text/html" id="table-emp-toolbar">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="agree">同意</button>
            <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="refuse">拒绝</button>
        </div>
    </script>

</div>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" charset="utf-8"></script>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:inline="javascript">

    function refreshTable(){
        $("#btn-reset").click();
        $("#btn-search").click();
    }

    var ctxPath = [[@{/}]];
        layui.use(['laydate','table','form'], function(){
            var laydate = layui.laydate;
            var table = layui.table;
            var form = layui.form;

            table.on('toolbar(table-data-filter)', function(obj){
            if(obj.event == 'alert'){
                var url=ctxPath + 'data/alertfiles'
                $.post(url,function (response){
                    console.log(response)
                    if(response.code == 0){
                        layer.msg('发送成功', {icon: 6, time:1000},);
                    }else{
                        layer.msg(response.message,{icon: 5,anim: 6});
                    }
                });
            }
            });
            table.render({
                elem: '#datalist'
                ,url:  ctxPath + 'data/errorselect' //数据接口
                ,toolbar: "#table-data-toolbar"
                ,page: true //开启分页
                ,limits: [5,10,30,50,100]
                ,cols: [
                    [
                        {type: "checkbox",width:60},
                        {field: 'num', title: '编号', width:120, sort: true,align: 'center'}
                        ,{field: 'time', title: '产生时间', width:200, sort: true,align: 'center'}
                        ,{field: 'speed', title: '温度', width:120, sort: true ,align: 'center'}
                        ,{field: 'tem', title: '速度', width:120 , sort: true,align: 'center'}
                        ,{field: 'yingli', title: '亮度', width: 120 , sort: true,align: 'center'}
                        ,{field: 'dir_x', title: '角度', width: 120 , sort: true,align: 'center'}
                        ,{field: 'dir_y', title: '参数5', width: 120 , sort: true,align: 'center'}
                        ,{title: '操作', width: 150,toolbar: '#col-emp-toolbar'}
                    ]
                ]
            });
        });
</script>
</body>
</html>

